/*
Developed and maintained by Kevin Rue-Albrecht (@kevinrue)
*/

/*
#0092ac   blue
#00758a   darker blue (active menu)
#c4d931   green (on blue)
#87b13f   green (on white)
*/

.navbar-default {
    background-color: #0092ac; /* blue */
    border-color: #0092ac; /* blue */
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #c4d931;
    background-color: #00758a;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #87b13f;
    background-color: #00758a;
}

.dropdown-menu>li>a:hover {
    color: #87b13f;
    background-color: #00758a;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #c4d931;
    background-color: #00758a;
}

h1, .h1 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: #87b13f;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: #1a81c2
}

table.bioc-table>thead>tr>th,
table.bioc-table>tbody>tr>th,
table.bioc-table>tfoot>tr>th,
table.bioc-table>thead>tr>td,
table.bioc-table>tbody>tr>td,
table.bioc-table>tfoot>tr>td {
    border-top: 1px solid #0092ac;
}

table.bioc-table>thead>tr>th {
    border-bottom: 2px solid #0092ac;
}

table.bioc-table>th {
    color: #1a81c2;
}
